{% extends "base.html.twig" %}
{% block body %}
    
<blockquote class="blockquote" >
<p>  Ahmed Ismail </p>
    <p> Phone number: +216-93135443-Gsm:+216-73854666 </p> 
    <p> Email: Ahmid.ismail@gmail.com</p>   
     <p><a href="https://www.linkedin.com/in/ahmed-ismail-1a1542178/" class="text-primary"  target="_blank">linkedin</a></p>
       <p> <a href="https://twitter.com/AhmedIs83720933" class="text-info"   class="badge badge-primary" target="_blank">Twitter </a></p>
   <p> <a href="https://www.hackerrank.com/ahmid_ismail"  class="text-success" target="_blank">hackerrank</a><br></p>
    </blockquote>
{% endblock %}