{% extends "base.html.twig" %}
{% block body %}

        <h1 style="text-align:center"  class="text-warning" >About <span  class="text-warning"> JavaScript </span>  <br> 
           <img src="https://upload.wikimedia.org/wikipedia/commons/6/6a/JavaScript-logo.png" width="250" height="150" text-align="cetner";> </h1>
        <br> 
        
       
  <h3 class="text-primary">What is a Script ?  </h3>

    

<hr>
<p class="text-justify">A script is an executable list of commands like macro or batch file created by a scripting language. Scripts (like PHP, Perl) which are executed on a web server are called server-side scripts and scripts (like JavaScript) 
which are executed on user's computer, interpreted by the browser is called client-side scripts.</p>
  <br>
  <h4 class="text-primary">What is  JavaScript  ?</h4>

    <p > <b class="text-warning" style="font-size:21px"> JavaScript® </b> (often shortened to JS) is a lightweight, interpreted, object-oriented language with first-class 
    functions, and is best known as the scripting language for Web pages, but it's used in many non-browser environments as well. 
    It is a prototype-based, multi-paradigm scripting language that is dynamic, and supports object-oriented, imperative, 
    and functional programming styles.</p>


<h3 class="text-primary">  JavaScript   and Java <h3>
<p style="font-size:17px;margin:2px;padding:3px">  <span  class="text-warning"> <b> JavaScript </b> </span>   and Java are similar in some ways but fundamentally they are different. Java is a programming language developed by Sun Microsystems, Inc. and <span  class="text-warning"> JavaScript </span> is a scripting language developed by Netscape. Java is a server-side and static type language. <span  class="text-warning"> <b> JavaScript </b> </span> is a client-side, dynamically typed language. Java programs are compiled on the server and run on almost every platform without distribution of source code whereas scripts written in  <span  class="text-warning"> <b> JavaScript </b> </span> are placed inside a HTML document and interpreted by the browser. The syntax, reserved-words of  <span  class="text-warning"> <b> JavaScript </b> </span>  and Java are also different. </p>

<h3 class="text-primary"> JavaScript compares to Java <h3>
<!--Start table -->
<table class="table table-borderless">
  <tr >
    
    <th  scope="col">  <span  class="text-warning"> <b> JavaScript </b> </span> </th>
    <th  scope="col"> <b>Java </b> </th>
    
  </tr>
  <tr>
    <td>  <span  class="text-warning"> <b> JavaScript </b> </span>   is used for front-end web development (for example field level validation in a HTML form).</td>
    <td>Java is used as a back-end language within a web environment.</td>
 
  </tr>
  <tr>
    <td>Interpreted (not compiled) by the client.</td>
    <td>Compiled bytecodes downloaded from the server, executed on the client.</td>
   
  </tr>
  <tr>
    <td>Object-oriented. No distinction between types of objects. Inheritance is through the prototype mechanism, and properties and methods can be added to any object dynamically.</td>
    <td>Class-based. Objects are divided into classes and instances with all inheritance through the class hierarchy. Classes and instances cannot have properties or methods added dynamically.</td>
   
  </tr>
  <tr>
    <td>Variable data types are not declared (loose typing).</td>
    <td>Variable data types must be declared as Java maintains strong type checking.</td>
   
  </tr>
  <tr>
    <td>Cannot automatically write to hard disk.</td>
    <td>Cannot automatically write to hard disk.</td>
   
  </tr>
  
  
</table> <br> <br> <br>
<!-- End table -->

<h4 class="text-primary"> Features of the w3resource JavaScript Tutorial </h4>
<blockquote class="blockquote">
In this series of tutorials, we have covered JavaScript 1.5+ in detail. While creating this, we have taken care that learners can master the basics of JavaScript.

<ul class="list-group">Here is a list of features we have included in all of the chapters :
  <li class="list-group-item">We have started with a clear and simple description.</li>
  <li class="list-group-item">We have given a Syntax/Usage so that you can remember how to write it.</li>
  <li class="list-group-item">Example(s) to show how the associated concept is implemented.</li>
  <li class="list-group-item">We have shown the Output of the usage.</li>
  <li class="list-group-item">View the example in a browser.</li>
  <li class="list-group-item">Exercise to practice with our Online Practice Editor.</li>
  <li class="list-group-item">Pictorial presentation to help you to understand the concept better.</li>
  <li class="list-group-item">Since the browser is an issue while executing JavaScript, we have shown which browser support which script.</li>
</ul>

</blockquote>



















{% endblock %}