{% extends "base.html.twig" %}
{% block body %}
   <h2 class="text-warning"> JavaScript basic [30 exercises with solution]</h2>
   <hr>
                        <!-- //////////////////////////////////////// -->

    <p class="text-justify"> <b>.1</b>  Write a JavaScript program to display the current day and time in the following 
    format. </p> <a href="https://playcode.io/" target="_blank" class="stretched-link text-danger">Go to the editor</a>
    
    <!--output  -->
    <p> Sample Output : Today is : Tuesday. <br>
    Current time is : 10 PM : 30 : 38 </p>

                <!-- //////////////////////////////////////// -->
    
    <p> <b>.2</b>  Write a JavaScript program to print the contents of the current window. 
     </p> <a href="https://playcode.io/" target="_blank" class="stretched-link text-danger">Go to the editor</a>

                        <!-- //////////////////////////////////////// -->
  
  
  
    <p> <b>.3</b>  Write a JavaScript program to get the current date. </p> <a href="https://playcode.io/" target="_blank" class="stretched-link text-danger">Go to the editor</a>
    
    <!--output  -->
    <p>Expected Output :<br>
    mm-dd-yyyy, mm/dd/yyyy or dd-mm-yyyy, dd/mm/yyyy</p>

                <!-- //////////////////////////////////////// -->
    
    <p> <b>.4</b>   Write a JavaScript program to find the area of 
    a triangle where lengths of the three of its sides are 5, 6, 7. 
     <a href="https://playcode.io/" target="_blank" class="stretched-link text-danger">Go to the editor</a>  </p>
                <!-- //////////////////////////////////////// -->
    
    <p> <b>.5</b>   Write a JavaScript program to rotate
     the string 'Ahmed_ismail' in right direction by periodically 
     removing one letter from the end of the string and attaching it to the front.  </p>

      <a href="https://playcode.io/" target="_blank" class="stretched-link text-danger">Go to the editor</a>  </p>
                <!-- //////////////////////////////////////// -->
    
    <p> <b>.6</b>  Write a JavaScript program to determine whether a given year is a leap year in the Gregorian calendar. 
     <br> <a href="https://playcode.io/" target="_blank" class="stretched-link text-danger">Go to the editor</a>  </p>
    
                    <!-- //////////////////////////////////////// -->

    <p> <b>.7</b>   Write a JavaScript program to find 1st January is being a Sunday between 2014 and 2050. 
    <br> <a href="https://playcode.io/" target="_blank" class="stretched-link text-danger">Go to the editor</a>  </p>
    
    

            <!-- //////////////////////////////////////// -->
    <p> <b>.8</b> Write a JavaScript program where the program takes a random integer between 1 to 10, the user is then prompted to input a guess number. If the user input matches with guess number,
     the program will display a message "Good Work" otherwise display a message "Not matched". </p> <a href="https://playcode.io/" target="_blank" class="stretched-link text-danger">Go to the editor</a>
    
    <p> <b>.9</b>  Write a JavaScript program to calculate days left until next Christmas. </p> <a href="https://playcode.io/" target="_blank" class="stretched-link text-danger">Go to the editor</a>
    
    <p> <b>.10</b>  Write a JavaScript program to calculate multiplication and division of two numbers (input from user).  </p> <a href="https://playcode.io/" target="_blank" class="stretched-link text-danger">Go to the editor</a>
    <br>
    <img src="https://www.w3resource.com/w3r_images/sample-form.png"> 

    <hr>
    
        <!-- //////////////////////////////////////// -->
    <p> <b>.11</b> Write a JavaScript program to convert temperatures to and from Celsius, Fahrenheit.
[ Formula : c/5 = (f-32)/9 [ where c = temperature in Celsius and f = temperature in Fahrenheit ] </p> <a href="https://playcode.io/" target="_blank" class="stretched-link text-danger">Go to the editor</a>
    
    <!--output  -->
    <p> Expected Output :  <br>
    60째C is 140 째F </p> 
    45째F is 7.222222222222222째C</p> 


    <!-- //////////////////////////////////////// -->

    <p> <b>.12</b>   Write a JavaScript program to get the website URL (loading page).  </p> <a href="https://playcode.io/" target="_blank" class="stretched-link text-danger">Go to the editor</a>
    
    <!-- //////////////////////////////////////// -->

    <p> <b>.13</b>  Write a JavaScript exercise to create a variable using a user-defined name.  </p> <a href="https://playcode.io/" target="_blank" class="stretched-link text-danger">Go to the editor</a>
   
    <!-- //////////////////////////////////////// -->

    <p> <b>.14</b>  Write a JavaScript exercise to get the extension of a filename. </p> <a href="https://playcode.io/" target="_blank" class="stretched-link text-danger">Go to the editor</a>
     <!-- //////////////////////////////////////// -->
    <p> <b>.15</b>  Write a JavaScript program to get the difference between a given number and 13, if the number is greater than 13 return double the absolute difference. </p> <a href="https://playcode.io/" target="_blank" class="stretched-link text-danger">Go to the editor</a>
  
     <!-- //////////////////////////////////////// -->

    <p> <b>.16</b>  Write a JavaScript program to compute the sum of the two given integers. If the two values are same, then returns triple their sum.</p> <a href="https://playcode.io/" target="_blank" class="stretched-link text-danger">Go to the editor</a>
    
    <!-- //////////////////////////////////////// --> <!-- //////////////////////////////////////// -->
    
    <p> <b>.17</b>  Write a JavaScript program to compute the absolute difference between a specified number and 19. Returns triple their absolute difference if the specified number is greater than 19.  </p> <a href="https://playcode.io/" target="_blank" class="stretched-link text-danger">Go to the editor</a>
    
     <!-- //////////////////////////////////////// --> <!-- //////////////////////////////////////// -->
    
    <p> <b>.18</b>  Write a JavaScript program to check two given numbers and return true if one of the number is 50 or if their sum is 50. </p> <a href="https://playcode.io/" target="_blank" class="stretched-link text-danger">Go to the editor</a>
    
    <!-- //////////////////////////////////////// --> <!-- //////////////////////////////////////// -->
   
    <p> <b>.19</b>  Write a JavaScript program to check whether a given integer is within 20 of 100 or 400. </p> <a href="https://playcode.io/" target="_blank" class="stretched-link text-danger">Go to the editor</a>
 
    <!-- //////////////////////////////////////// --> <!-- //////////////////////////////////////// -->
   
    <p> <b>.20</b>   Write a JavaScript program to check from two given integers, whether one is positive and another one is negative </p> <a href="https://playcode.io/" target="_blank" class="stretched-link text-danger">Go to the editor</a>
    
    <!-- //////////////////////////////////////// --> <!-- //////////////////////////////////////// -->
   
    <p> <b>.21</b>    Write a JavaScript program to create a new string adding "Py" in front of a given string. If the given string begins with "Py" then return the original string. </p> <a href="https://playcode.io/" target="_blank" class="stretched-link text-danger">Go to the editor</a>
    
    <!-- //////////////////////////////////////// --> <!-- //////////////////////////////////////// -->
   
    <p> <b>.22</b>   Write a JavaScript program to remove a character at the specified position of a given string and return the new string. </p> <a href="https://playcode.io/" target="_blank" class="stretched-link text-danger">Go to the editor</a>
    
    <!-- //////////////////////////////////////// --> <!-- //////////////////////////////////////// -->
   
    <p> <b>.23</b>   Write a JavaScript program to create a new string from a given string changing the position of first and last characters. The string length must be greater than or equal to 1.  </p> <a href="https://playcode.io/" target="_blank" class="stretched-link text-danger">Go to the editor</a>
    
    <!-- //////////////////////////////////////// --> <!-- //////////////////////////////////////// -->
   
    <p> <b>.24</b>  Write a JavaScript program to create a new string from a given string with the first character of the given string added at the front and back.  </p> <a href="https://playcode.io/" target="_blank" class="stretched-link text-danger">Go to the editor</a>
    
    <!-- //////////////////////////////////////// --> <!-- //////////////////////////////////////// -->
   
    <p> <b>.25</b>   Write a JavaScript program to check whether a given positive number is a multiple of 3 or a multiple of 7. </p> <a href="https://playcode.io/" target="_blank" class="stretched-link text-danger">Go to the editor</a>
    
    <!-- //////////////////////////////////////// --> <!-- //////////////////////////////////////// -->
   
    <p> <b>.26</b>   Write a JavaScript program to create a new string from a given string taking the last 3 characters and added at both the front and back. The string length must be 3 or more. </p> <a href="https://playcode.io/" target="_blank" class="stretched-link text-danger">Go to the editor</a>
    
    <!-- //////////////////////////////////////// --> <!-- //////////////////////////////////////// -->
   
    <p> <b>.27</b>   Write a JavaScript program to check whether a string starts with 'Java' and false otherwise. </p> <a href="https://playcode.io/" target="_blank" class="stretched-link text-danger">Go to the editor</a>
    
    <!-- //////////////////////////////////////// --> <!-- //////////////////////////////////////// -->
   
    <p> <b>.28</b>  Write a JavaScript program to check whether two given integer values are in the range 50..99 (inclusive). Return true if either of them are in the said range. </p> <a href="https://playcode.io/" target="_blank" class="stretched-link text-danger">Go to the editor</a>
    
    <!-- //////////////////////////////////////// --> <!-- //////////////////////////////////////// -->
   
    <p> <b>.29</b>  Write a JavaScript program to check whether three given integer values are in the range 50..99 (inclusive). Return true if one or more of them are in the said range.  </p> <a href="https://playcode.io/" target="_blank" class="stretched-link text-danger">Go to the editor</a>
    
    <!-- //////////////////////////////////////// --> <!-- //////////////////////////////////////// -->
   
    <p> <b>.30</b> Write a JavaScript program to check whether a string "Script" presents at 5th (index 4) position in a given string, if "Script" presents in the string return the string without "Script" otherwise return the original one.  </p> <a href="https://playcode.io/" target="_blank" class="stretched-link text-danger">Go to the editor</a>
    





















{% endblock %}