{% extends "base.html.twig" %}
{% block body %}
  <div style="text-align: center;">
  <blockquote class="blockquote" >
    <form> 
     <lable>  Email address   </lable><br>
            
            <input type="text" placeholder="Email Adress"><br>
          
            
            <lable>  Choose a password </lable> <br>
            <input type="password" placeholder="password"> <br>
       

            
            <lable>  Remember me   </lable>
           
           <input type="checkbox">  <br>
           <button  > Sign Up </button>
    </form>
     </blockquote> 
     </div>
{% endblock %}